@import 'https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap';

#cuadro1, #cuadro2, #cuadro3, #cuadro4 {
    border: solid 1px grey;
    height:180px;
    width: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5); 
}

#contenido{
    margin-left: 50px;
}

#medio{
    height: 20px;
}

#cuadro1, #cuadro3, #cuadro4{
    padding: 10px;
}

#valor{
    font-size: 100px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color:rgb(60,173,228);;
}
h6{
    color:gray;
    font-family:  'Didact Gothic', sans-serif;
    text-decoration:underline;
}