/*ESTILOS PARA NAVBAR PRINCIPAL*/
#barraPrin{
    background-color: rgba(60,173,228,1) !important;
    height: 70px;
}

#sidebarCollapse{/*Boton de menu*/
    background-image: url(../Images/Btnmenu.png);
    background-repeat: no-repeat;
    background-color: rgba(60,173,228,0.7);
    border: rgba(60,173,228,0.9);/*Quitar color*/
    width: 35px;
    height: 35px;
}

#msj{/*Boton de notificaciones*/
    background-image: url(../Images/BtnNotificacion.png);
    background-repeat: no-repeat;
    background-color: rgba(60,173,228,0.7);
    border: rgba(60,173,228,0.9);/*Quitar color*/
    margin-left: 850px;
    width: 35px;
    height: 35px;
}

#cerrar{/*Boton de cerrar sesion*/
    background-image: url(../Images/BtnLogout.png);
    background-repeat: no-repeat;
    background-color: rgba(60,173,228,0.7);
    border: rgba(60,173,228,0.9);/*Quitar color*/
    margin-left: 0px;
    width: 35px;
    height: 35px;
}

/*ESTILOS PARA NAVBAR INICIO DE SESION*/
#barra{
    background-color: rgb(60,173,228) !important;
    height: 70px;
}

#ayuda{/*Boton de ayuda*/
    background-color: rgba(60,173,228, 0.7);
    border: rgba(60,173,228, 1);   
    background-image: url("../Images/BtnAyuda.png");
    background-repeat: no-repeat; 
    width: 35px;
    height: 35px;  
    margin-right: 80px;       
}

#titulo{/*Nombre app*/
    color: azure;
    margin-left:500px;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;    
}
