/*ESTILOS PARA NAVBAR PRINCIPAL*/
#contenedorPrincipal{
    width: 100%;
    height: 80px;
    border: none;
    margin: 0;
    background: rgba(60,173,228, 0.8);
}
#sidebarCollapse{
    background: rgb(60,173,228);
    border: rgb(60,173,228);
    font-family: 'Poppins', sans-serif;
    display: block;
    margin-left: 2px;
}

#cerrar{
    background: rgb(60,173,228);
    border: rgb(60,173,228);
    font-family: 'Poppins', sans-serif;
    display: block;
    margin-left: 150px;
}
/*ESTILOS PARA NAVBAR INICIO DE SESION*/
#barra{
    background: rgb(60,173,228);
    color: rgb(60,173,228);
}

#ayuda{
    background-image: url("../Images/BtnAyuda.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    background-color: rgba(60,173,228, 0.7);
    border: rgba(60,173,228, 0.7);
            
}

#contenedorSesion{
    height: 80px;
    border: none;
    background: rgba(60,173,228, 1);
}

#titulo{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: azure;
    margin-left:500px;
}

/*
.navbar {
    padding: 15px 10px;
    background: rgba(60,173,228, 0.6);
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}*/

