/*ESTILOS PARA INICIO DE SESION*/

footer{
    position: absolute;
    bottom: 0;
    background-color: rgba(60,173,228, 1);
    width: 100%;
    height: 50px;
    padding-top: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}
.row{
    width:100%;
    height: 100%;
 }

p{
    color:azure;
    text-align: center;
}

/*footer{
    background: rgba(60,173,228, 1);
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.row{
   width: 100%;
   height: 50px;
}

p{
    color:azure;
    text-align: center;
}



/*ESTILOS PARA PRINCIPAL*/
