@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.iniciarSesion{
    margin:auto;
    margin-top:80px;
    /*width:400px;*/
    width:100%;
    text-align: center; 
    outline: none;
}

.card-title{    
    color: rgb(60,173,228);
    width:100%;
    /*width: 275px;*/
    margin-top:30px;
    text-align: left;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
}

#cuadroForm{
    /*border:solid 1px black;*/
    /*width:400px;*/
    width:100%;
    height: 340px;
    /*padding: 0px 30px 80px 30px;*/
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin:auto;
}

#btnIngresar{
    background-color:rgb(60,173,228);
    border:solid 1px rgb(60,173,228);  
    margin-top: 15px;
    margin-left: 260px;
    
}

.campo{
    /*width:300px;*/
    width: 100%;
    /*margin-left: 40px;*/
}

#campo1{
    margin-top: 30px;
}